spring.application.name=torneo-tenis
spring.datasource.url=jdbc:postgresql://localhost:5432/torneo_tenis
spring.datasource.username=postgres
spring.datasource.password=TU_CONTRASEÑA_AQUI
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
server.port=9096